header {
    display: flex;

    .currency {
        margin: 5px 10px;

        &.base-currency {
            margin-right: 15px;
        }
    
        .currency-label {
            font-weight: 600;
        }
    }
}