<div class="container">
    <div class="">
        <input name="baseCurrencyValue" type="number"
            [ngModel]="baseCurrencyValue | number: '1.0-2'"
            (ngModelChange)="onBaseCurrencyValueChange($event)">
        <!-- <input name="baseCurrencyValue" type="number" [(ngModel)]="baseCurrencyValue"> -->
        <!-- <select name="baseCurrency"></select> -->
        <select name="baseCurrency">
            <option *ngFor="let curr of currencies" [value]="baseCurrency">{{ curr | uppercase }}</option>
        </select>
    </div>
    <div class="">
        <input name="currencyValue" type="number" [ngModel]="resultCurrencyValue | number: '1.0-2'">
        <select name="currency" (change)="onCurrencyChange()" [(ngModel)]="resultCurrency">
        <!-- <select name="currency" (ngModelChange)="onCurrencyValueChange($event)"> -->
            <option *ngFor="let curr of currencies" [value]="curr">{{ curr | uppercase }}</option>
        </select>
    </div>
</div>


<div class="display-results" *ngIf="apiResult" hidden>
    <h4>Results from API</h4>
    <div>{{ apiResult | json }}</div>
</div>