<div class="container">
    <div class="currency-item base-currency-container">
        <input name="baseCurrencyValue" type="number"
            [ngModel]="baseCurrencyValue"
            (ngModelChange)="onBaseCurrencyValueChange($event)">
        <select name="baseCurrency" [(ngModel)]="baseCurrency" (change)="onBaseCurrencyChange($event)">
            <option *ngFor="let curr of currencies" [value]="curr">{{ curr | uppercase }}</option>
        </select>
    </div>
    <div class="currency-item result-currency-container">
        <input name="resultCurrencyValue" type="number"
            [ngModel]="resultCurrencyValue"
            (ngModelChange)="onResultCurrencyValueChange($event)">
        <select name="resultCurrency" [(ngModel)]="resultCurrency" (change)="onResultCurrencyChange()">
            <option *ngFor="let curr of currencies" [value]="curr">{{ curr | uppercase }}</option>
        </select>
    </div>
</div>